.progressBar {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid rgb(6, 101, 175);
  background-color: white;
}

.fill {
  background-color: rgb(6, 101, 175);
}

.progressBarContainer {
  display: flex;
  gap: 5rem;
  position: relative;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  color: rgb(6, 101, 175);
}

.horizontalLine {
  position: absolute;
  width: 100%;
  height: 3px;
  background: rgb(6, 101, 175);
  z-index: -1;
}
